@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.navegation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
}

.logo{
    width: 12%;
}

.button {
    display: flex;
    gap: 20px;
}

.navegation a{
    text-decoration: none;
    font-weight: 600;
    color: #3957bd;
    font-family: 'Montserrat', Arial, sans-serif;

}

.navegation a:hover{
    color: #b8d1ff;
    transition: 0.3s;
}


.topnav {
    background-color: #ffffff; 
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    width: 100%; 
  }
  
  .icon {
    font-size: 30px;
    color: #fa6300;
    cursor: pointer;
    text-decoration: none; 
    border: none;
    background: none; 
    outline: none; 
  }
  
  .menu-sidebar {
    height: 100%;
    width: 250px; 
    position: fixed;
    top: 0;
    left: -250px; 
    background-color: #fa6300;
    overflow-x: hidden;
    transition: left 0.4s ease-in-out, opacity 0.4s ease-in-out; 
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
    opacity: 0; 
    visibility: hidden; 
  }
  
  .menu-sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
  }
  
  .closebtn {
    font-size: 36px;
    color: #fa6300;
    text-align: center;
    cursor: pointer;
  }
  
  .menu-sidebar.open {
    left: 0; 
    opacity: 1; 
    visibility: visible; 
  }


  .banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    overflow: hidden;
    padding-top: 50px;
}

.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    z-index: 0;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    padding: 100px;
    z-index: 1; 
}

.text h1 {
    font-size: 30px;
}

.text a {
    display: flex;
    color: #fff;
    border-radius: 20px;
    background-color: #3957bd;
    text-decoration: none;
    width: 180px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.text a:hover {
    background-color: #0e9bdd;
    transition: 0.5s;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Montserrat', Arial, sans-serif;

}

.box-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}


.box {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 2px solid #e0e0e0;
    width: 300px;
    height: 450px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}


.box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-content {
    padding: 20px;
}
.box h3 {
    color: #005fa3;
    margin: 0 0 10px;
    font-size: 1.2em;
    padding: 20px;
}
.box p {
    color: #555;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 20px;

}
.box a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #005fa3;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', Arial, sans-serif;
    display: flex;
    width: 200px;
    margin: 20px;

}
.box a:hover {
    background-color: #0e9bdd;
    color: white;
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-thumb {
    background-color: #0e9bdd; 
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3957bd;
}


footer {
    background: #f5f5f7;
    color: #3957bd;
    padding: 40px 20px;
    font-family: 'Montserrat', Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
  }
  
  .footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #3957bd;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 6px 0;
  }
  
  .footer-section ul li a {
    color: #3957bd;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #3957bd;
  }
  
.footer-logos {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
  
.footer-logos img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
  
.footer-logos img:hover {
    transform: scale(1.1);
}
  
  .footer-bottom {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 14px;
    color: #3957bd;
  }
  
  .footer-bottom a {
    color: #3957bd;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
  }
  
  .footer-bottom a:hover {
    color: #f39c12;
  }

  /* .caixa1 img{
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
  } */

.caixa1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;
    background-color: #005fa3;
    margin: 100px;
    border-radius: 20px;

}

  
.caixa2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;
    background-color: #3957bd;
    margin: 100px;
    border-radius: 20px;

}

.caixa3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;
    background-color: #0e9bdd;
    margin: 100px;
    border-radius: 20px;

}


.banner-be {
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
}

.banner-be h4 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #004869;
    margin-bottom: 30px;
    line-height: 1.4;
}

.vantagens-gt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.lo1 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.lo1:hover {
    transform: translateY(-10px);
}

.img-b img {
    max-width: 50px;
    margin-bottom: 15px;
}

.lo1 p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.lo1 p br {
    display: none; 
}


.banner-box{
    display: flex;
    flex-direction: column;
    gap: 100px;
}



.banner-desp {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 60vh;
    overflow: hidden;
}

.banner-desp img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner-desp::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
}

.texte {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
    padding: 100px;
    z-index: 1; 
}

.texte h1 {
    font-size: 30px;
}

.texte a {
    display: flex;
    color: #fff;
    border-radius: 20px;
    background-color: #ffa300;
    text-decoration: none;
    width: 180px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.texte a:hover {
    background-color: #0e9bdd;
}

.deal-ailos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 50px;
    background-color: #3957bd;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    /* box-shadow: -1px 3px 13px -6px; */
}

.deal-ic {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    gap: 35px;
    height: auto;
    flex-wrap: wrap;
    text-align: center;
}

.deal-box {
    color: #ffffff;
    border-radius: 25px;
    font-family: 'Montserrat', Arial, sans-serif;

}

.deal-box:hover{
    color: #b8d1ff;
}



@media (min-width:1300px) {

    .topnav{
        display: none;
    }

}



@media (min-width: 1025px) and (max-width:1299px) {

    .topnav{
        display: none;
    }

}


@media  (min-width: 769px) and (max-width:1024px) {

} 



@media (max-width: 768px) {

}


   
@media (max-width: 480px) {

    .caixa3{
        flex-direction: column;
    }

    .navegation{
        display: none;
    }

    .logo {
        width: 50%;
    }
}  